html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******/
body {
  font-family: 'Gilroy';
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.center {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/*Container head*/
.head-container {
  /* height: 1084px; */
  background-image: url("../images/head-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.head-container .bg-gradient {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(86.13%, rgba(255, 255, 255, 0)), to(#FFFFFF)), url(mockup-wall-dark-living-room-interior-background-with-leather-sofa-table-empty-dark-wooden-wall-3d-rendering.jpg);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #FFFFFF 100%), url(mockup-wall-dark-living-room-interior-background-with-leather-sofa-table-empty-dark-wooden-wall-3d-rendering.jpg);
}

.head-container header .logo {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.01em;
  width: 78px;
}

.head-container header .cart {
  width: 78px;
  text-align: right;
}

.head-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.head-container header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 478px;
}

.head-container header .menu ul li a {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.head-container header .menu ul li a img {
  vertical-align: middle;
}

.head-container header .menu ul li a:hover {
  color: #E58411;
}

.head-container h1 {
  font-size: 80px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  color: #ffffff;
  width: 861px;
  margin: 0 auto;
  margin-top: 86px;
  margin-bottom: 14px;
  font-weight: bold;
}

.head-container .descr {
  font-size: 24px;
  line-height: 160%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  width: 606px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.head-container form {
  width: 344px;
  margin: 0 auto;
  position: relative;
}

.head-container form input {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 42px;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  outline: none;
  height: 56px;
  width: 100%;
  padding-left: 20px;
}

.head-container form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.head-container form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.head-container form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.head-container form input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.head-container form button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #E58411;
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
}

.head-container form button img {
  vertical-align: middle;
}

.head-container .selected img {
  margin-left: 249px;
  margin-top: 25px;
  margin-bottom: 361px;
}

/*Container Materiaals*/
.container-materials {
  max-width: 1360px;
  width: 100%;
  margin: 0 0 0 auto;
  /* border: 3px solid red; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 556px calc(223px + 487px);
      grid-template-columns: 556px calc(223px + 487px);
  padding-top: 240px;
  padding-bottom: 240px;
  -webkit-column-gap: 94px;
          column-gap: 94px;
}

.container-materials .left-text .head-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  color: #E58411;
  padding-top: calc(394px - 240px);
  padding-bottom: 20px;
}

.container-materials .left-text h3 {
  width: 413px;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  text-transform: capitalize;
  color: #1E1E1E;
  padding-bottom: 20px;
}

.container-materials .left-text .description {
  font-weight: 400;
  font-size: 18px;
  line-height: 185%;
  color: rgba(30, 30, 30, 0.8);
  padding-bottom: 24px;
}

.container-materials .left-text a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 185%;
  color: #E58411;
}

.container-materials .left-text a img {
  vertical-align: middle;
  margin-left: 13px;
}

.container-materials .right-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 223px calc(487px - 42px);
      grid-template-columns: 223px calc(487px - 42px);
  /* 223px calc(487px - 42px) */
  -ms-grid-rows: 250px 317px;
      grid-template-rows: 250px 317px;
  -webkit-column-gap: 42px;
          column-gap: 42px;
  row-gap: 47px;
}

.container-materials .right-gallery .gallery-item1 img,
.container-materials .right-gallery .gallery-item2 img,
.container-materials .right-gallery .gallery-item3 img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  border-radius: 14px;
  position: relative;
  z-index: 1;
}

.container-materials .right-gallery .gallery-item2 img {
  -o-object-position: right;
     object-position: right;
}

.container-materials .right-gallery .gallery-item2 {
  position: relative;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}

.container-materials .right-gallery .gallery-item1 .blur-box,
.container-materials .right-gallery .gallery-item2 .blur-box,
.container-materials .right-gallery .gallery-item3 .blur-box {
  width: 176px;
  height: 183px;
  background-image: url("../images/gallery-item1.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  border-radius: 29px;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  position: absolute;
  bottom: -21px;
  left: calc(50% - 88px);
  z-index: 0;
}

.container-materials .right-gallery .gallery-item2 .blur-box {
  background-image: url("../images/gallery-item2.jpeg");
  height: 301px;
}

.container-materials .right-gallery .gallery-item1 {
  position: relative;
}

.container-materials .right-gallery .gallery-item3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/span 2;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  position: relative;
}

.container-materials .right-gallery .gallery-item3 img {
  height: 445px;
  margin-bottom: 10px;
}

.container-materials .right-gallery .gallery-item3 .blur-box {
  width: calc(555px - 137px);
  height: 423px;
  background-image: url("../images/gallery-item3.jpeg");
  bottom: -30px;
  left: 27px;
}

.container-materials .right-gallery .gallery-item3 .gray-block {
  width: calc(445px - 172px);
  height: 422px;
  background: #F7F7F7;
  border-top-left-radius: 20px;
  position: absolute;
  top: -60px;
  right: 0;
}

/* sofa-and-flowers */
.sofa-and-flowers {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 141px;
          column-gap: 141px;
  margin-top: 306px;
}

.sofa-and-flowers .picture-on-the-left {
  position: relative;
}

.sofa-and-flowers .picture-on-the-left .opg img {
  width: 629px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

.sofa-and-flowers .picture-on-the-left .opo img {
  width: 555px;
  height: 423px;
  border-radius: 20px;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  position: absolute;
  bottom: -30px;
  z-index: 0;
}

.sofa-and-flowers .picture-on-the-left .im-top {
  width: 495px;
  height: 422px;
  background: #F7F7F7;
  border-radius: 20px;
  position: absolute;
  bottom: 119px;
  right: 172px;
  z-index: 0;
}

.sofa-and-flowers .picture-on-the-left .im-bottom {
  width: 495px;
  height: 301px;
  background: #F7F7F7;
  border-radius: 20px;
  position: absolute;
  left: 195px;
  bottom: 102px;
  z-index: 0;
}

.sofa-and-flowers .text-on-the-right .topy {
  font-family: 'Gilroy-SemiBold';
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  color: #E58411;
  margin-bottom: 20px;
}

.sofa-and-flowers .text-on-the-right h3 {
  font-family: 'Gilroy-Bold';
  font-size: 42px;
  line-height: 49px;
  font-weight: bold;
  text-transform: capitalize;
  color: #1E1E1E;
  margin-bottom: 20px;
}

.sofa-and-flowers .text-on-the-right .nexty {
  font-family: 'Gilroy-Regular';
  font-size: 18px;
  line-height: 185%;
  color: rgba(30, 30, 30, 0.8);
  margin-bottom: 24px;
  width: 556px;
}

.sofa-and-flowers .text-on-the-right a {
  font-family: 'Gilroy-Medium';
  font-size: 14px;
  line-height: 185%;
  color: #E58411;
  text-decoration: none;
}

.sofa-and-flowers .text-on-the-right span {
  margin-left: 17.5px;
}

/*Container products*/
.container-product {
  background-color: #F7F7F7;
}

.container-product h3 {
  color: #1E1E1E;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  padding-top: 50px;
  padding-bottom: 32px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .container-product h3 {
    font-size: 32px;
    line-height: 40px;
    width: 95%;
    margin: 0 auto;
  }
}

.container-product .sort-category {
  width: 348px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #EEEEEE;
  border-radius: 44px;
  height: 57px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  .container-product .sort-category {
    width: 95%;
    margin: 0 auto;
  }
}

.container-product .sort-category li {
  width: 84px;
  height: 45px;
  font-size: 18px;
  color: rgba(30, 30, 30, 0.8);
  line-height: 185%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.container-product .sort-category li.active {
  background-color: #ffffff;
  border-radius: 32px;
  font-weight: 500;
}

.container-product .products-slider {
  padding-top: 130px;
  padding-bottom: 60px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1300px) {
  .container-product .products-slider {
    width: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  .container-product .products-slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 0;
  }
}

.container-product .products-slider .product-item {
  background-color: #ffffff;
  border-radius: 20px;
  width: 268px;
}

@media only screen and (max-width: 1200px) {
  .container-product .products-slider .product-item {
    width: 24%;
  }
}

@media only screen and (max-width: 1024px) {
  .container-product .products-slider .product-item {
    width: 48%;
    margin-bottom: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .container-product .products-slider .product-item {
    width: 100%;
  }
}

.container-product .products-slider .product-item .image {
  height: 239px;
  background-color: #FAFAFA;
  border-radius: 21px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
}

.container-product .products-slider .product-item .image img {
  position: relative;
  top: -50px;
}

.container-product .products-slider .product-item .info {
  width: calc(100% - 42px);
  margin: 0 auto;
}

.container-product .products-slider .product-item .info .category {
  margin-top: 14px;
  margin-bottom: 6px;
  font-family: 'Inter';
  font-size: 17px;
  line-height: 20px;
  color: #8D8D8D;
}

.container-product .products-slider .product-item .info .name {
  margin-bottom: 6px;
  text-transform: capitalize;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: #0D1B39;
}

.container-product .products-slider .product-item .info .cart-info {
  margin-top: 37px;
  margin-bottom: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-product .products-slider .product-item .info .cart-info .price {
  /* font-family: 'Inter';
						font-weight: 600;
						font-size: 21px;
						line-height: 26px;
						color: #0D1B39; */
  font-family: 'Inter';
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: #0D1B39;
}

.container-product .products-slider .product-item .info .cart-info .price span {
  font-size: 15px;
  line-height: 18px;
  vertical-align: top;
}

.container-product .products-slider .product-item .info .cart-info .btn {
  display: inline-block;
  padding: 12px;
  border-radius: 50%;
  background-color: #0D1B39;
  cursor: pointer;
}

.container-product .btn-link {
  padding-bottom: 50px;
  text-align: center;
}

.container-product .btn-link a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 185%;
  color: #E58411;
}

.container-product .btn-link a img {
  vertical-align: middle;
  margin-left: 12px;
}

footer {
  background-color: #F7F7F7;
}

footer .footer {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding-top: 118px;
}

@media only screen and (max-width: 1200px) {
  footer .footer {
    width: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  footer .footer {
    padding-top: 60px;
  }
}

footer .footer .upper-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  footer .footer .upper-part {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer .upper-part .text-footer h3 {
  font-family: 'Gilroy-Bold';
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #1E1E1E;
  margin-bottom: 29px;
}

@media only screen and (max-width: 1024px) {
  footer .footer .upper-part .text-footer h3 {
    margin-bottom: 14px;
  }
}

@media only screen and (max-width: 768px) {
  footer .footer .upper-part .text-footer h3 {
    text-align: center;
  }
}

footer .footer .upper-part .text-footer p {
  font-family: 'Gilroy-Medium';
  font-size: 15px;
  line-height: 160%;
  color: rgba(30, 30, 30, 0.8);
  width: 293px;
}

@media only screen and (max-width: 768px) {
  footer .footer .upper-part .text-footer p {
    text-align: center;
    margin-bottom: 20px;
  }
}

footer .footer .upper-part .list .title-list {
  font-family: 'DM Sans';
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #F6973F;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  footer .footer .upper-part .list .title-list {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  footer .footer .upper-part .list .title-list {
    text-align: center;
    margin-top: 20px;
  }
}

footer .footer .upper-part .list li {
  font-family: 'Gilroy-Medium';
  font-size: 15px;
  line-height: 160%;
  color: #1E1E1E;
  margin-bottom: 16px;
}

@media only screen and (max-width: 1024px) {
  footer .footer .upper-part .list li {
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 768px) {
  footer .footer .upper-part .list li {
    text-align: center;
  }
}

footer .footer .upper-part .references .face img {
  margin-right: 16px;
}

@media only screen and (max-width: 1024px) {
  footer .footer .upper-part .references .face img {
    margin-right: 8px;
  }
}

footer .footer .upper-part .references .twit img {
  margin-right: 7px;
}

footer .footer .upper-part .references .insta img {
  margin-right: 9px;
}

footer .footer .lower-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 118px;
  padding-bottom: 56px;
}

@media only screen and (max-width: 1024px) {
  footer .footer .lower-part {
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  footer .footer .lower-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer .lower-part .left-inf p {
  font-family: 'DM Sans';
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: rgba(30, 40, 51, 0.5);
}

@media only screen and (max-width: 600px) {
  footer .footer .lower-part .left-inf p {
    margin-bottom: 15px;
  }
}

footer .footer .lower-part .right-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  footer .footer .lower-part .right-inf {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .footer .lower-part .right-inf p {
  font-family: 'Gilroy-Medium';
  font-size: 15px;
  line-height: 160%;
  color: #1E1E1E;
  opacity: 0.8;
}

@media only screen and (max-width: 600px) {
  footer .footer .lower-part .right-inf p {
    margin-bottom: 15px;
  }
}

footer .footer .lower-part .right-inf .terms {
  margin-right: 40px;
}

@media only screen and (max-width: 1024px) {
  footer .footer .lower-part .right-inf .terms {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 1024px) and (max-width: 600px) {
  footer .footer .lower-part .right-inf .terms {
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1400px) {
  .container-materials {
    -ms-grid-columns: 40% 1fr;
        grid-template-columns: 40% 1fr;
    max-width: 100%;
    /* width: calc(100% - 80px); */
    width: calc(100% - (100% - 1280px) / 2);
  }
  .container-materials .right-gallery {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
  .container-materials .right-gallery .gallery-item3 .blur-box {
    width: calc(100% - 27px);
  }
  .container-materials .right-gallery .gallery-item3 .gray-block {
    width: 60%;
  }
  .sofa-and-flowers {
    max-width: 1300px;
    width: 95%;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    /* margin: 0 auto; */
  }
  .sofa-and-flowers .text-on-the-right {
    width: 100%;
    z-index: 1;
  }
  .sofa-and-flowers .text-on-the-right .nexty {
    width: 100%;
  }
}

@media screen and (max-width: 1300px) {
  .center {
    width: 95%;
  }
  .head-container .selected img {
    margin-left: 0;
  }
  .container-materials {
    width: calc(100% - 2.5%);
  }
}

@media screen and (max-width: 1024px) {
  .head-container h1 {
    width: 100%;
    font-size: 60px;
  }
  .head-container .selected img {
    margin-bottom: 250px;
  }
  .container-materials {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .container-materials .left-text {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .container-materials .right-gallery {
    width: calc(100% - 2.5%);
    margin-left: auto;
  }
  .container-materials .left-text .head-text {
    padding-top: 20px;
  }
  .container-materials .left-text h3 {
    width: 100%;
  }
  .sofa-and-flowers {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 100px;
  }
  .sofa-and-flowers .text-on-the-right {
    margin-top: 100px;
    text-align: center;
  }
  .sofa-and-flowers .picture-on-the-left {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 768px) {
  .head-container header .menu {
    display: none;
  }
  .head-container h1 {
    font-size: 48px;
  }
  .head-container .descr {
    width: 100%;
  }
  .sofa-and-flowers .picture-on-the-left .im-bottom {
    display: none;
  }
  .sofa-and-flowers .picture-on-the-left .im-top {
    display: none;
  }
  .sofa-and-flowers .picture-on-the-left .opg img {
    width: 100%;
    height: 100%;
  }
  .sofa-and-flowers .picture-on-the-left .opo img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .container-materials .left-text h3 {
    font-size: 32px;
    line-height: 40px;
  }
  .container-materials .right-gallery {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 20px;
    -ms-grid-rows: 250px auto;
        grid-template-rows: 250px auto;
  }
  .container-materials .right-gallery .gallery-item2 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .container-materials .right-gallery .gallery-item3 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .container-materials .right-gallery .gallery-item3 .gray-block {
    display: none;
  }
  .container-materials .right-gallery .gallery-item3 img {
    height: auto;
  }
  .container-materials .right-gallery .gallery-item2 .blur-box {
    width: 75%;
  }
}

@media screen and (max-width: 425px) {
  .head-container h1 {
    font-size: 32px;
    margin-top: 40px;
  }
  .head-container header {
    padding-top: 20px;
  }
  .head-container form {
    width: 100%;
  }
  .head-container .selected img {
    margin-bottom: 100px;
  }
}
/*# sourceMappingURL=main.css.map */